body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: rgb(0, 0, 54);
}

.cont{
    width: 20%;
    height: auto;
    padding: 2vw;
    border-radius: 1vw;
    border: 0.3vw solid gold;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
}
#cont2, #cont3, #cont4{
    width: 30%;
    height: 60vw;
    height: auto;
    padding: 3vw;
    border-radius: 1vw;
    background: white;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3vw;
    color: black;
    position:fixed;
    bottom: 40%;
}
.cont img{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 0.3vw solid gold;
}

.btn1{
    width: 100%;
    height: 4vw;
    background: gold;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5vw;
}

h1{
    color: white;
    font-size: 1.5vw;

}